.side__bar
  .side__bar--header
    .side__bar--header--box
      .user__name
        masa
      %ul.menu
        %li.new__group
          = link_to "#" do
            = icon('fas', 'edit')
        %li.edit__user
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    .group
      %p.group__name
        techcamp
      %p.group__text
        まだメッセージがありません。
    .group
      %p.group__name
        techcamp
      %p.group__text
        まだメッセージがありません。

